:root{
    --bg-color: #F5F0FF;
    --text-color: #4B3E65;
    --title-color: #220953;
    --border-color: #F5F0FF;
    --gradient-color: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
}

/* Dark mode */
.theme-toggle:checked ~ .full-page-content {
    --bg-color: #14092A;
    --text-color: #A094B8;
    --title-color: #D1C0F1;
    --border-color: #14092A;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.theme-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.full-page-content{
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 7.5rem 10rem;
}


main {
    max-width: 700px;
}

.theme-switch {
    position: absolute;
    top: 2.5rem;
    right: 10rem;
    cursor: pointer;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.2rem;
    z-index: 100;

}


.theme-toggle:checked ~ .theme-switch {
    background-color: #14092A;
    color: #A094B8;
}

.theme-switch .sun,
.theme-switch .moon {
    pointer-events: none;
}

/* Hides inactive icon */
.icon-moon {
    display: none;
}

.icon-sun {
    display: inline-block;
}

.theme-toggle:checked ~ .theme-switch .icon-sun {
    display: none;
}

.theme-toggle:checked ~ .theme-switch .icon-moon {
     display: inline-block;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 10rem; 
    z-index: 10;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav a:first-child img {
    height: 20px;
    width: auto;
}

header nav ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    margin-right: auto;
    margin-left: 20rem;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #FF52AF;
    font-weight: 600;
    transition: color 0.5s ease;

}

header nav ul li a.currant {
    font-weight: 700;
    color: var(--title-color); 
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding-top: 7.5rem;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-bottom: 8rem;
}


.title {
    max-width: 45%;
    position: relative;
    z-index: 2;
}

.hero-title {
    font-family: "Lora", serif;
    font-size: 5rem;
    line-height: 1.3;
    color: var(--title-color);
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.gradient-tag {
    background: var(--gradient-color);
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    font-size: 4.5rem;
    font-weight: 500;
    white-space: nowrap;
    display: inline-block;
    font-family: "lora";
    padding-bottom: 10px;
    transform: rotate(10deg);
}

.gradient-tag:hover {
   display: inline-block;
  animation: tiltDrop 2.5s ease-in-out infinite;
  transform-origin: top center; /* rotation point */
}

@keyframes tiltDrop {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  20% {
    transform: rotate(-6deg) translateY(1px);
  }
  40% {
    transform: rotate(4deg) translateY(-2px);
  }
  60% {
    transform: rotate(-10deg) translateY(4px);
  }
  80% {
    transform: rotate(2deg) translateY(-1px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}

.normal-text {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 2rem;
    font-weight: 400;
}

.title-btn {
    background: var(--gradient-color);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.3s;
}

.title-btn:hover {
    transform: translateY(-3px);
}

.main-img {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 50%;
    height: auto;
    z-index: 1;
}

.main-img img {
    width: 100%;
    height: auto;
    display: block;
}

.aside-star,
.aside-circle {
    position: absolute;
    z-index: 3;
}

.aside-star {
    top: 8rem;
    left: 28rem;
}
.aside-circle {
    top: 20rem;
    left: -3rem;
}

.hero-data-1,
.hero-data-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3;
    font-size: 1.1rem;
    font-weight: 400;
}

.hero-data-1 span:first-child,
.hero-data-2 span:first-child {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--title-color);
}

.hero-data-1 {
    bottom: -9rem;
    left: 0;
}

.hero-data-2 {
    bottom: -9rem;
    left: 10rem;
}

.list-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 18rem;
    gap: 2rem;
}
.list-box-no{
    font-family: "Lora", serif;
    font-size: 4rem;
    color: var(--title-color);
    font-weight: 400;
}

.btn-list-box {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background: transparent;
    border: none;
    cursor: pointer;

    padding: 1.7rem 2.4rem;
    font-size: 1.1rem;
    flex: 0 0 auto;
}

.btn-list-box .ellipse-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115%;
    pointer-events: none;
    z-index: 0;
}

.btn-list-box .btn-text,
.btn-list-box .material-symbols-outlined {
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
    -webkit-background-clip: text;   /* Safari/Chrome */
    color: transparent;
}

.normal-text-list {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
    font-weight: 400;
}

.list-star {
    position: absolute;
    top: -1.5rem;
    left: -2rem;
    width: 2.5rem;
    pointer-events: none;
}

.health-box {

}