:root{
    --bg-color: #F5F0FF;
    --text-color: #4B3E65;
    --title-color: #220953;
    --border-color: #F5F0FF;
}

/* Dark mode */
.theme-toggle:checked ~ .full-page-content {
    --bg-color: #14092A;
    --text-color: #A094B8;
    --title-color: #D1C0F1;
    --border-color: #14092A;
}

*{
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.toggle-mode {
  display: none;
}

.full-page-content{
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}


header {
  border-bottom: 1px;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.theme-switch {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 999px;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  background-color: var(--card-bg);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.2rem;
}

.theme-switch .sun,
.theme-switch .moon {
  pointer-events: none;
}

.toggle-mode {
  display: none;
}
.theme-switch {
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.2rem;
}
.theme-switch :checked {
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.2rem;
}

.theme-switch .sun,
.theme-switch .moon {
  pointer-events: none;
}

/* Santiago part */
/* ANYTIME CSS */

/* FOLLOW US CSS */
.follow-us-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}
.follow-us-content-container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    width: 80%;
}
.follow-us-content-container-1 img {
    border: 8px solid #E5D9FD;
    border-radius: 150px;
    max-width: 280px;
    max-height: 420px;
}
.follow-us-content-container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    width: 80%;
    height: 100%;
}
.follow-us-content-container-2 img {
    max-width: 500px;
    max-height: 255px;
    border: 8px solid #E5D9FD;
    border-radius: 150px;
}

.Instagram-content-container {
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 35px;
}
.Instagram-content-container h3 {
    text-align: center;
    max-width: 450px;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60px;

}
.Instagram-content-container button {
    border: none;
    background: linear-gradient(90deg, #FF52AF, #9F53FF);    
    border-radius: 40px;
    min-width: 75px;
    min-height: 75px;
}
.Instagram-content-container button a {
    display: flex;
    flex-direction: column;
    gap: 5px;
    place-items: center;
    text-decoration: none;
    color: white;
}
.Instagram-content-container button a img {
    max-width: 20px;
    max-height: 20px;
    border: none;
    border-radius: none;
}
/* FORM CSS */
.newsletter-form-container{

    width:100%;
    max-height: auto;
}
.newsletter-form {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    border-radius: 16px;
    gap: 30px;
    background: linear-gradient(90deg, #FF52AF, #9F53FF);
    padding: 2rem;
}
.newsletter-form-style {
    text-align: center;
    color: white;
}
h3.newsletter-form-style {
    font-family: 'Lora', serif; 
    font-size: 33px;
    font-weight: 300;
}

p.newsletter-form-style {
    width: 100%;
    font-size: 17px;
    font-weight: 300;
}

.input-newsletter-style {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    min-height: 100%;
    border-radius: 30px;
    gap: 20px;
    
}
.input-newsletter-style input {
    border: none;
    min-height: 64px;
    width: 100%;
    padding: 10px;
    border-radius: 24px;
}
.input-newsletter-email-style {
    width: 65%;
}
.submit-btn-container {
    display: flex;
    place-items: center;
    margin-right: 5px;
    min-width: 100%;
    min-height: 50px;
    background:  linear-gradient(90deg, #FF52AF, #9F53FF);
    box-shadow: 
    0 4px 10px rgba(255, 82, 175, 0.4),
    0 8px 20px rgba(159, 83, 255, 0.4);
    border-radius: 24px;
    cursor: pointer;
}
.submit-btn-container input {
    background-color: transparent;
    font-size: 16px;
    width: 50%;
    margin-left: 70px;
    max-height: 30px;
    color: white;
    cursor: pointer;
}
.submit-btn-container img{ 
    width: auto;
    max-height: 20px;
    margin-left: 5px;
}

/* FOOTER CSS */
footer {
    margin: 0px 0px;
    padding: 30px 20px;
    background: #1e0849;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    color: white;

}

.footer-section-container-1 {
    display: grid;
    column-gap: 20px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-items: start;
}

h5 {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 24px;
}

p.footer-container {
    max-width: 200px;
    padding: 0px 0px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #A197B4;    
}

.p-footer-style {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;   
    max-width: 160px;
    line-height: 1.5;
    color: #A197B4;
}

.section-footer-style {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
h5.section-footer-style {
    background: linear-gradient(0deg, #FF52AF, #9F53FF);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.footer-copy-container {
    display: flex;
    justify-content: center ;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 11px;   
    width: 100%;
    color: #A197B4;
}
.spacerfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(91, 91, 91);
    height: 0px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.footer-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 50%;
    list-style: none;
}

.footer-ul li {
    display: inline-block;
}

.footer-ul li img {

    width: 24px;
    height: 24px;

}

/* MEDIA QUERYS */
@media (min-width: 1024px) {
    .section-footer-style {
    display: flex;
    flex-direction: column;
    gap: 30px;
    }
}
@media (max-width: 768px) {

}

@media (min-width: 1024px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-section-container-1{
        grid-template-columns: 3fr 1fr 1fr 1fr; 
    }
    .footer-ul {
        display: flex;
        justify-content: flex-start;
    }
    footer {
        padding: 40px 80px;
    }
    .footer-container-2 {
    display: flex;
    flex-direction: row;
    width: 75%;
    }
    .spacerfooter {
        width: 75%;
    }
    .footer-copy-container {
        display: flex;
        justify-content: flex-end;

    }

}

/* FORM MEDIA QUERY */
@media (min-width: 878px) {
    
    .newsletter-form-container {
        padding: 10px 20px;    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 4rem;
        min-width: 100%;    
    }
    .newsletter-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto;
        border-radius: 16px;
        gap: 30px;
        background: linear-gradient(90deg, #FF52AF, #9F53FF);
        padding: 4rem;
    }
    h3.newsletter-form-style {
        font-family: 'Lora', serif; 
        font-size: 55px;
        font-weight: 300;
    }
    p.newsletter-form-style {
    width: 80%;
    font-size: 17px;
    font-weight: 300;
    }
    .input-newsletter-style {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 60%;
    padding-left: 20px;
    min-height: 64px;
    border-radius: 30px;
    
    }
    .input-newsletter-style {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    min-width: 486px;
    padding-left: 20px;
    min-height: 64px;
    border-radius: 30px;
    
    }
    .input-newsletter-style input {
    border: none;
    min-height: 90%;
    padding: 0px;
    border-radius: 24px;
    }
    .submit-btn-container {
    display: flex;
    place-items: center;
    margin-right: 5px;
    min-width: 170px;
    min-height: 50px;
    background:  linear-gradient(90deg, #FF52AF, #9F53FF);
    border-radius: 24px;
    }
    .submit-btn-container input {
    background-color: transparent;
    font-size: 16px;
    width: 50%;
    margin-left: 30px;
    max-height: 30px;
    color: white;
    }
    
}