:root{
    --bg-color: #F5F0FF;
    --text-color: #4B3E65;
    --title-color: #220953;
    --border-color: #F5F0FF;
    --border-color: #F5F0FF;
    --follow-border:#E5D9FD;
    --boxes-color: #FFFFFF;
    --footer-color:#1E0849;
    --gradient-color: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
}

html, body {
    overflow-x: hidden;
}

h2{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    color: var(--title-color);
    font-family: "Lora", serif;
}

h3{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    color: var(--text-color);
    font-family: "Poppins", serif;
}


/* Dark mode */
.theme-toggle:checked ~ .full-page-content, footer {
    --bg-color: #14092A;
    --text-color: #A094B8;
    --title-color: #D1C0F1;
    --border-color: #14092A;
    --follow-border:#372A51;
    --boxes-color:#14092A;    
    --footer-color:#14092A;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.theme-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 105;
}

.full-page-content{
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 7.5rem 10rem;
}


main {
    max-width: 700px;
}

.theme-switch {
    position: absolute;
    top: 2.5rem;
    right: 10rem;
    cursor: pointer;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.2rem;
    z-index: 100;
    transition: background-color 0.5s ease, color 0.5s ease;

}

.theme-switch .sun,
.theme-switch .moon {
    pointer-events: none;
}

/* Hides inactive icon */
.icon-moon {
    display: inline-block;
}

.icon-sun {
    display: none;
}

.theme-toggle:checked ~ .full-page-content .theme-switch .icon-sun {
    display: inline-block;
}

.theme-toggle:checked ~ .full-page-content .theme-switch .icon-moon {
     display: none;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 10rem; 
    z-index: 10;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav a:first-child img {
    height: 20px;
    width: auto;
}

header nav ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    margin-right: auto;
    margin-left: 20rem;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #FF52AF;
    font-weight: 600;
    transition: color 0.5s ease;

}

header nav ul li a.currant {
    font-weight: 700;
    color: var(--title-color); 
}

/* Menu bt only for mobile */
#menu-toggle {
    display: none;
}

/* 2. Estiliza o ícone do menu (o label) */
.menu-icon {
    display: none; /* Esconde no Desktop */
    cursor: pointer;
    font-size: 2.5rem; /* Tamanho do ícone */
    color: var(--title-color); /* Cor do ícone */
    z-index: 101; /* Garante que fique acima do menu aberto */
    user-select: none;
}

/* Regras de alternância dos ícones */
.menu-icon .icon-close {
    display: none;
}

#menu-toggle:checked ~ .menu-icon .icon-close {
    display: block;
}

#menu-toggle:checked ~ .menu-icon .icon-menu {
    display: none;
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding-top: 7.5rem;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-bottom: 8rem;
}


.title {
    max-width: 45%;
    position: relative;
    z-index: 2;
}

.hero-title {
    font-family: "Lora", serif;
    font-size: 5rem;
    line-height: 1.3;
    color: var(--title-color);
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.gradient-tag {
    background: var(--gradient-color);
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    font-size: 4.5rem;
    font-weight: 500;
    white-space: nowrap;
    display: inline-block;
    font-family: "lora";
    padding-bottom: 10px;
    transform: rotate(10deg);
}

.gradient-tag:hover {
    display: inline-block;
    animation: tiltDrop 2.5s ease-in-out infinite;
    transform-origin: top center; /* rotation point */
}

.normal-text {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 2rem;
    font-weight: 400;
}

.title-btn {
    background: var(--gradient-color);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.3s;
}

.title-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(159, 83, 255, 0.35);
}

.main-img {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 50%;
    height: auto;
    z-index: 1;
}

.main-img img {
    width: 100%;
    height: auto;
    display: block;
}

.aside-star,
.aside-circle {
    position: absolute;
    z-index: 3;
}

.aside-star {
    top: 8rem;
    left: 28rem;
    transition: transform 0.6s ease-out;
    transform-origin: center;
}

.aside-star:hover {
  animation: starSpin 1.2s linear infinite;
}

.aside-circle {
    top: 20rem;
    left: -3rem;
}

.hero-data-1,
.hero-data-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3;
    font-size: 1.1rem;
    font-weight: 400;
}

.hero-data-1 span:first-child,
.hero-data-2 span:first-child {
    
    font-family: "Lora", serif;
    font-size: 3rem;
    color: var(--title-color);
    font-weight: 400;
}

.hero-data-1 {
    bottom: -9rem;
    left: 0;

}

.hero-data-2 {
    bottom: -9rem;
    left: 10rem;
    font-family: "Lora", serif;
    font-size: 1rem;
    color: var(--title-color);
    font-weight: 400;
}

.list-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 18rem;
    gap: 2rem;
}

 .box-img {
    width: 25rem;
    height: auto;
}
.list-box-no{
    font-weight: 500;
}

.btn-list-box {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background: transparent;
    border: none;
    cursor: pointer;

    padding: 1.7rem 2.4rem;
    font-size: 1.1rem;
    flex: 0 0 auto;
}

.btn-list-box .ellipse-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115%;
    pointer-events: none;
    z-index: 0;
}

.btn-list-box .btn-text,
.btn-list-box .material-symbols-outlined {
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
    -webkit-background-clip: text;   /* Safari/older Chrome */
    background-clip: text; /* Modern browsers */
    color: transparent;
}

.normal-text-list {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
    font-weight: 400;
}

.list-star {
    position: absolute;
    top: -1.5rem;
    left: -2rem;
    width: 2.5rem;
    pointer-events: none;
}

.health-box {
    margin-top: 8rem;
}

.health-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.health-img {
    position: relative;
    flex: 0 0 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}


.health-img img {
    position: relative;
    z-index: 1;
    max-width: 20rem;
    height: auto;
}

.description-box-health-1 {
    position: absolute;
    top: 18%;
    left: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--boxes-color);
    padding: 0.6rem 0.9rem;
    border-radius: 0.5rem;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
    font-size: 0.75rem;
    z-index: 2;
}

.description-box-health-1 img {
    width: 1.5rem;
    height: auto;
}

.description-text {
    color: var(--text-color);
    font-weight: 400;
}

.gradient-color-font {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

.description-box-health-2 {
    position: absolute;
    bottom: 8%;
    right: 5%;
    background: var(--boxes-color);
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
    font-size: 0.75rem;
    text-align: left;
    z-index: 2;
}

.health-data {
    flex: 1;
    padding-left: 2rem;
}

.health-data h2 {
    font-family: "Lora", serif;
    font-size: 3rem;
    line-height: 1.2;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.normal-text-health {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 2rem;
}


.health-btn {
    background: var(--gradient-color);
    color: #FFFFFF;
    border: none;
    padding: 0.9rem 1.8rem;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.health-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(159, 83, 255, 0.35);
}

/* Keyframes */

@keyframes starSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes tiltDrop {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  20% {
    transform: rotate(-6deg) translateY(1px);
  }
  40% {
    transform: rotate(4deg) translateY(-2px);
  }
  60% {
    transform: rotate(-10deg) translateY(4px);
  }
  80% {
    transform: rotate(2deg) translateY(-1px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
/* --- MEDIA QUERIES FOR MOBILE --- */
@media (max-width: 768px) {

    .full-page-content {
        padding: 2rem 1.5rem;
        overflow-x: hidden;
    }

    h2{
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        justify-content: center;
        color: var(--text-color);
        font-family: "Lora", serif;
    }

    h3{
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        justify-content: center;
        color: var(--text-color);
        font-family: "Poppins", serif;
    }

    header {
        position: flex;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.5rem 1.5rem;
        background-color: var(--bg-color);
        /* z-index: 100; */
    }

    header nav {
        display: fixed;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* z-index: 110; */
    }

    header nav a {
        display: flex;
        align-items: center;
    }
    
    .menu-icon {
        display: flex;
        align-items: flex-end;
        order: 2;
    }

    header nav ul {
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 70vh;
        background-color: var(--bg-color);
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 3rem;
        padding-top: 9rem;
        margin: 0;
        gap: 2rem;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
        transition: 0.5s ease-in-out;
        transform: translateX(100%); 
        z-index: 100;
    }

    header nav ul li:first-child a {
        font-weight: 400;
        background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
        -webkit-background-clip: text;   /* Safari/older Chrome */
        background-clip: text; /* Modern browsers */
        color: transparent;
    }

    #menu-toggle:checked ~ .theme-switch {
        opacity: 0;
        pointer-events: none;
        /* transition: opacity 0.2s ease; */
    }

    #menu-toggle:checked ~ ul {
        transform: translateX(0); 
    }

    header nav ul li a {
        font-size: 1rem;
        font-weight: 300;
    }

    .theme-switch {
        position: relative;
        background-color: transparent;
        margin-left: auto;
        font-size: 1.2rem;
        top: 0;
        right: 1rem;
        z-index: 90;
    }

    main {
        padding-top: 6rem;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 4rem;
    }

    .title {
        max-width: 100%;
        max-height: fit-content;
        order: 2;
    }

    .main-img {
        position: relative;
        width: 80%;
        margin: 15rem auto 4rem auto;

    }

    .hero-title {
        font-size: 3rem;
        align-items: center;
        text-align: center;
    }

    .gradient-tag {
        font-size: 3rem;
        transform: none;
        white-space: nowrap;
        display: inline-block;
        font-family: "Lora";
        transform: rotate(10deg);
    }
    
    .gradient-tag:hover {
        display: inline-block;
        animation: tiltDrop 2.5s ease-in-out infinite;
        transform-origin: top center;
    }

    .aside-star,
    .aside-circle {
    position: absolute;
    }

    .aside-star {
        top: 9rem;
        left: 1rem;
        transition: transform 0.6s ease-out;
        transform-origin: center;
    }

    .aside-star img{
        max-width: 3.5rem;
    }

    .aside-star:hover {
        animation: starSpin 1.2s linear infinite;
    }

    .aside-circle {
        top: 19.5rem;
        left: 16rem;
    }

    .aside-circle img{
        max-width: 1rem;
    }

   .title-btn {
        min-height: 4rem;
        min-width: 13rem;
        position: absolute;
        justify-content: center;
        align-items: center;
        left: 4rem;
   }

    .hero-data-1, .hero-data-2 {
        position: absolute;
        flex-direction: column;
        gap: 0.5rem;
        top: 28rem;
        margin: 2rem auto 2rem 3rem;
        justify-content: center;
        text-align: center;
    }
    
    .list-box {
        margin-top: 2rem;
        flex-direction: column;
        text-align: center;
    }

    .list-box-no{
        position: absolute;
        top: 73rem;
        left: 0.5rem;
        font-size: 2rem;
    }
    
    .box-img {
        margin: 3rem auto 2rem 1rem;
        position: relative;
        left: 4.5rem;
        width: 70%;
        max-width: 300px;
    }

    .list-star{
        left: -1rem;
        top: -2rem;
    }

    .btn-list-box{
        top: 3rem;
    }
    

    .health-container {
        flex-direction: column-reverse;
    }
    
    .health-img {
        max-width: 100%;
    }
    
    .health-data {
        padding-left: 0;
        text-align: center;
    }
    
    .health-data h2 {
        font-size: 2.5rem;
    }
}
/* Santiago part */
/* ANYTIME CSS */
.anytime-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0px;
    margin-top: 50px;
    min-height: 700px;
}
.anytime-content-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.anytime-content-container-1 h3 {
    font-size: 60px;
    font-family: 'Lora', serif;
    font-weight: 400;
    width: 70%;
}
.anytime-content-container-1 p {
    font-size: 14px;
    width: 70%;
    max-height: 40%;
}
.get-started-btn-container {
    display: flex;
    width: 60%;
}
.get-started-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FF52AF, #9F53FF); 
    border-radius: 25px;
    border: none;
    width: 60%;
    height: 56px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.get-started-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(159, 83, 255, 0.35);
}
.get-started-btn img {
    height: 20px;
    width: auto;
}
.anytime-img-container-1 {
    display: flex;
    position: absolute;
    z-index: 2;
}
.anytime-img-container-2 {
    display: flex;
    position: relative;
    top: 35%;
    left: 15%;
    z-index: 1;
}
.anytime-box-1 {
    display: flex;
    align-items: center;
    background-color: var(--boxes-color);
    min-width: 210px;
    border-radius: 20px;
    padding-left: 10px;
    height: 56px;
    gap: 10px;
    position: relative;
    z-index: 2;
    left: 170%;
    margin-top: 80px;
}
.anytime-box-2 {
    display: flex;
    align-items: center;
    background-color: var(--boxes-color);
    min-width: 220px;
    border-radius: 20px;
    padding-left: 10px;
    height: 56px;
    gap: 10px;
    position: relative;
    z-index: 2;
    right: 7%;
    margin-top: 220px;
}
p.anytime-box {
    background: linear-gradient(90deg, #FF52AF, #9F53FF);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.anytime-container img {
    max-width: 500px;
    max-height: 343px;
}
.any-time-img-1-style {
    position: absolute;
    z-index: 1;
    border: 8px solid  var(--bg-color);
    border-radius: 150px;
}

.any-time-img-2-style {
    border: 8px solid  var(--bg-color);
    border-radius: 150px;
    position: absolute;
    
}

/* FOLLOW US CSS */
.follow-us-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}
.follow-us-content-container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    width: 100%;
}
.follow-us-content-container-1 img {
    border: 8px solid var(--follow-border);
    border-radius: 150px;
    max-width: 280px;
    max-height: 420px;
}
.follow-us-content-container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    width: 100%;
    height: 100%;
}
.follow-us-content-container-2 img {
    max-width: 500px;
    max-height: 255px;
    border: 8px solid var(--follow-border);
    border-radius: 150px;
}

.Instagram-content-container {
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 35px;
}
.Instagram-content-container h3 {
    text-align: center;
    max-width: 450px;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60px;

}
.Instagram-content-container button {
    border: none;
    background: linear-gradient(90deg, #FF52AF, #9F53FF);    
    border-radius: 40px;
    min-width: 75px;
    min-height: 75px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Instagram-content-container button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(159, 83, 255, 0.35);
}
.Instagram-content-container button a {
    display: flex;
    flex-direction: column;
    gap: 5px;
    place-items: center;
    text-decoration: none;
    color: white;
}
.Instagram-content-container button a img {
    max-width: 20px;
    max-height: 20px;
    border: none;
    border-radius: none;
}
/* FORM CSS */
.newsletter-form-container{

    width:100%;
    max-height: auto;
}
.newsletter-form {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    border-radius: 16px;
    gap: 30px;
    background: linear-gradient(90deg, #FF52AF, #9F53FF);
    padding: 2rem;
}
.newsletter-form-style {
    text-align: center;
    color: white;
}
h3.newsletter-form-style {
    font-family: 'Lora', serif; 
    font-size: 33px;
    font-weight: 300;
}

p.newsletter-form-style {
    width: 100%;
    font-size: 17px;
    font-weight: 300;
}

.input-newsletter-style {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    min-height: 100%;
    border-radius: 30px;
    gap: 20px;
    
}
.input-newsletter-style input {
    border: none;
    min-height: 64px;
    width: 100%;
    padding: 10px;
    border-radius: 24px;
}
.input-newsletter-email-style {
    width: 65%;
}
.submit-btn-container {
    display: flex;
    place-items: center;
    margin-right: 5px;
    min-width: 100%;
    min-height: 50px;
    background:  linear-gradient(90deg, #FF52AF, #9F53FF);
    box-shadow: 
    0 4px 10px rgba(255, 82, 175, 0.4),
    0 8px 20px rgba(159, 83, 255, 0.4);
    border-radius: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.submit-btn-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(159, 83, 255, 0.35);
}
.submit-btn-container input {
    background-color: transparent;
    font-size: 16px;
    width: 50%;
    margin-left: 70px;
    max-height: 30px;
    color: white;
    cursor: pointer;
}
.submit-btn-container img{ 
    width: auto;
    max-height: 20px;
    margin-left: 5px;
}

/* FOOTER CSS */
footer {
    margin: 0px 0px;
    padding: 30px 20px;
    background-color: var(--footer-color);
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    color: white;

}

.footer-section-container-1 {
    display: grid;
    column-gap: 20px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-items: start;
}

h5 {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 24px;
}

p.footer-container {
    max-width: 200px;
    padding: 0px 0px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #A197B4;    
}

.p-footer-style {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;   
    max-width: 160px;
    line-height: 1.5;
    color: #A197B4;
}

.section-footer-style {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
h5.section-footer-style {
    background: linear-gradient(0deg, #FF52AF, #9F53FF);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.footer-copy-container {
    display: flex;
    justify-content: center ;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 11px;   
    width: 100%;
    color: #A197B4;
}
.spacerfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(91, 91, 91);
    height: 0px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.footer-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 50%;
    list-style: none;
}

.footer-ul li {
    display: inline-block;
}

.footer-ul li img {

    width: 24px;
    height: 24px;

}

/* MEDIA QUERYS */
@media (min-width: 1024px) {
    .section-footer-style {
    display: flex;
    flex-direction: column;
    gap: 30px;
    }
}
@media (min-width: 1024px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-section-container-1{
        grid-template-columns: 3fr 1fr 1fr 1fr; 
    }
    .footer-ul {
        display: flex;
        justify-content: flex-start;
    }
    footer {
        padding: 40px 80px;
    }
    .footer-container-2 {
    display: flex;
    flex-direction: row;
    width: 75%;
    }
    .spacerfooter {
        width: 75%;
    }
    .footer-copy-container {
        display: flex;
        justify-content: flex-end;
    }
}
/* ANYTIME QUERY */
@media (min-width: 1024px) {
    .anytime-content-container-1 h3 {
        text-align: start;
    }
}
@media (min-width: 768px) {
    .get-started-btn {
        min-width: 218px;
    }
}
@media (max-width: 768px) {
    .anytime-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 20px 0px;
        height: 950px;
    }
    .anytime-content-container-1 {
        width: 100%;
        padding: 0px;  
    }
    .anytime-content-container-1 h3 {
        width: 100%;
        text-align: center;
        font-size: 45px;
    }
    .anytime-content-container-1 p {
        width: 100%;
        font-size: 19px;
        text-align: center;
    }
    .get-started-btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .get-started-btn {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 70px;
        border-radius: 35px;
    }
    .get-started-btn p{
        width: 70%;
    }
    .anytime-content-container-2 {
        width: 100%;
    }
    .anytime-img-container-1 img{
        max-width: 400px;
    }
    .anytime-img-container-2 img{
        max-width: 400px;
        top: 27%;
    }
    .anytime-box-1 {
        left: 110%;
    }
}
@media (max-width: 480px) {
    .anytime-container {
        height: 900px;
    } 
    .anytime-img-container-1 img{
        max-width: 300px;
    }
    .anytime-img-container-2 img{
        max-width: 300px;
        top: 20%;
    }
    .anytime-box-1 {
        left: 65%;
    }
    .anytime-box-2 {
        right: 20%;
        margin-top: 170px;
    }    
}
/* FOLLOW US MEDIA QUERY */
/* FOLLOW US CONTAINER 1 */
@media (min-width: 1024px) {
    .follow-us-content-container-1 {
        row-gap: 30px;
    }
}
@media (min-width: 768px) {

    .follow-us-content-container-1 {
    row-gap: 30px;
    }    
}
@media (max-width: 768px) {
    .follow-us-content-container-1 {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "content content"
            "img1 img2";
        column-gap: 20px;
        row-gap: 30px;
        min-height: 700px;
    }

    .follow-us-content-container-1 > img:nth-child(1) {
        grid-area: img1;
    }

    .follow-us-content-container-1 > img:nth-child(3) {
        grid-area: img2;
        margin-top: 80px;
    }

    .follow-us-content-container-1 > .Instagram-content-container {
        grid-area: content;
    }
    .follow-us-content-container-1 img {
        height: 300px;
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .follow-us-content-container-1 img {
        max-height: 250px;
    }
    .Instagram-content-container h3 {
        font-size: 40px;
    }
    .Instagram-content-container button {
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }
    .Instagram-content-container a {
        font-size: 20px;
    }
}
/* FOLLOW US CONTAINER 2 */

@media (max-width: 1368px) {
    .follow-us-container {
        max-height: 1600px;
        gap: 50px;
    }
    .follow-us-content-container-2 {
        display: flex;
        flex-direction: column;
        padding: 15px;        
        width: 100%;
        max-height: 1300px;
    }
    .follow-us-content-container-2 img {
        max-width: 550px;
        max-height: auto;
    }
    .follow-us-img-style-container-1 {
        flex: auto;
        align-self: flex-start;
    }
    .follow-us-img-style-container-2 {
        flex: auto;
        align-self: flex-end;
    }
}
@media (max-width: 786px) {
    .follow-us-container {
    max-height: 1600px;
    gap: 20px;
    }
    .follow-us-content-container-2 {
        gap: 50px;
    }
    .follow-us-content-container-2 img {
        max-width: 380px;
        max-height: auto;
    }
       
}
@media (min-width: 768px) {
    .follow-us-container {
        min-height: 900px;
    }
    .follow-us-content-container-2 {
        min-width: 850px;
        gap: 40px;
    }
    
}

@media (max-width: 520px) {
    .follow-us-container {
        max-height: 1250px;
    }
    .follow-us-content-container-2 {
        max-height: 400px;
    }
    .follow-us-content-container-2 img {
        max-width: 330px;
        max-height: auto;
    }
}
@media (max-width: 480px) {
    .follow-us-content-container-2 img {
        max-width: 270px;
    }
    .follow-us-container {
        max-height: 1150px;
    }
    
}
/* FORM MEDIA QUERY */
@media (min-width: 878px) {
    
    .newsletter-form-container {
        padding: 10px 20px;    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 4rem;
        min-width: 100%;    
    }
    .newsletter-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        border-radius: 16px;
        gap: 30px;
        background: linear-gradient(90deg, #FF52AF, #9F53FF);
        padding: 4rem;
    }
    h3.newsletter-form-style {
        font-family: 'Lora', serif; 
        font-size: 55px;
        font-weight: 300;
    }
    p.newsletter-form-style {
    width: 80%;
    font-size: 17px;
    font-weight: 300;
    }
    .input-newsletter-style {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 60%;
    padding-left: 20px;
    min-height: 64px;
    border-radius: 30px;
    
    }
    .input-newsletter-style {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    min-width: 486px;
    padding-left: 20px;
    min-height: 64px;
    border-radius: 30px;
    
    }
    .input-newsletter-style input {
    border: none;
    min-height: 90%;
    padding: 0px;
    border-radius: 24px;
    }
    .submit-btn-container {
    display: flex;
    place-items: center;
    margin-right: 5px;
    min-width: 170px;
    min-height: 50px;
    background:  linear-gradient(90deg, #FF52AF, #9F53FF);
    border-radius: 24px;
    }
    .submit-btn-container input {
    background-color: transparent;
    font-size: 16px;
    width: 50%;
    margin-left: 30px;
    max-height: 30px;
    color: white;
    }
    
}
@media (max-width: 878px) {
    .input-newsletter-style {
        padding-left: 0px;
    }
}
